<div class="mainCont">
    <div class="contUsers">
        <div class="contUsers__myUser" >
            <h3>Usuario actual:</h3>
            <h3 class= "currentUserStyle" id="currentUser"></h3>
        </div>
        <div class="contUsers__othersUser">Conectados:</div>
    </div>
    <div class="containerPageChat">
        <div class="welcome">
            <h1>Bienvenido al chat</h1>
        </div>
        <div id="contChats" class="contChatsStyle">
            {{!-- Acá van los mensajes --}}
            <span id="viewLastMsg"></span>
        </div>
        <form  id="form" >
            <div class="sendMessage">
                <input type="text" name="" id="text" placeholder="Escribe un mensaje" required>
                <button><img src="./img/send.png" alt=""></button>  
            </div>
        </form>
    </div>
</div>
<!--Script de socket.io para que nuestro index pueda utilizar los metodos del propio socket.io -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="sweetalert2.all.min.js"></script>
<script src="./socket.io/socket.io.js"></script>
<script src="./index.js"></script>